body {
  background-color: #6a6a61;
}

#collaborators {
	border-radius: 0;
}

#category-list > li {
	width: 32%;
}

#category-form {
	padding: 10px 10px 10px 10px;
	background-color: #2a2c2b;
}


.hide-editing-form form {
  display:none;
}
.hide-editing-form.editing .view {
  display:none;
}
.hide-editing-form.editing form {
  display:block;
}