<section class="navbar navbar-inverse" id="collaborators">
    <div class="container ">
        <a class="navbar-brand" href="#">Realtime Planning</a>
        <div class="pull-right">
            <img ng-repeat="collaborator in collaborators | limitTo: 5"
                 class="img-rounded userimg"
                 ng-src="{{collaborator.photoUrl}}"
                 alt="{{collaborator.displayName}}"
                 title="{{collaborator.displayName}}"
                 ng-style="{'border-color': collaborator.color}">
            <button type="button" class="btn btn-default navbar-btn" ng-click="share()" id="share">share</button>
        </div>
        <div class="clearfix"></div>
    </div>
</section>

<section class="container" id="planningapp">
    <header id="header">
        <form class="input-group" id="category-form" ng-submit="addCategory()">
            <input type="text" class="form-control" id="new-category-item" placeholder="Add another category" ng-model="newCategoryTitle" autofocus>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="addCategory()"><span class="glyphicon glyphicon-plus"></span></button>
            </span>
        </form>
    </header>
    <section id="main">
    <div class="row" ng-repeat="categoryIndex in planCategoriesRange()"  ng-show="planCategories.length" ng-cloak>
        <div class="col-md-{{(12/itemsPerRow)}}" ng-repeat="category in planCategories.asArray().slice(categoryIndex, categoryIndex+itemsPerRow)">
            <div class="panel panel-default" >
                <div class="panel-heading hide-editing-form" ng-class="{editing: category == editedItem}">
                    <div class="view">
                        <label ng-dblclick="startEditing(category)">{{category.title.text}}</label>
                        <button class="btn btn-default btn-xs pull-right" ng-click="removeCategory(category)"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                    <form ng-submit="doneEditing(category)">
                        <input class="form-control" ng-model="category.title.text" collaborative on-blur="doneEditing()" focus="category == editedItem">
                    </form>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in category.items.asArray()">
                        <div class="title hide-editing-form" ng-class="{editing: item == editedItem}">
                            <div class="view">
                                <label ng-dblclick="startEditing(item)">{{item.title.text}}</label>
                            <button class="btn btn-default btn-xs pull-right" ng-click="removeItem(categoryIndex, item)"><span class="glyphicon glyphicon-trash"></span></button>
                            </div>
                            <form ng-submit="doneEditing(item)">
                                <input class="form-control" ng-model="item.title.text" collaborative on-blur="doneEditing()" focus="item == editedItem">
                            </form>
                        </div>
                        <div class="distribution-input">
                            <div class="clearfix">
                                <small>I consume <span class="badge">{{item.distribution.get(currentUser.userId).consumeCount.text}}</span></small>
                                <div class="btn-group pull-right">
                                  <button ng-click="increaseNumber(item.distribution.get(currentUser.userId).consumeCount)" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
                                  <button ng-click="decreaseNumber(item.distribution.get(currentUser.userId).consumeCount)" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-minus"></span></button>
                                </div>
                            </div>
                            <div class="clearfix">
                                <small>I provide <span class="badge">{{item.distribution.get(currentUser.userId).provideCount.text}}</span></small>
                                <div class="btn-group pull-right">
                                  <button ng-click="increaseNumber(item.distribution.get(currentUser.userId).provideCount)"type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
                                  <button ng-click="decreaseNumber(item.distribution.get(currentUser.userId).provideCount)"type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-minus"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="distribution-list" ng-show="{{item.distribution.length}}">
                            <table class="table table-condensed">
                                <tr ng-repeat="userId in item.distribution.keys()" ng-show="{{currentUser.userId != userId}}">
                                    <td width="1px">
                                        <img ng-src="{{getUser(userId).photoUrl}}"
                                             alt="{{getUser(userId).displayName}}"
                                             title="{{getUser(userId).displayName}}"
                                             class="img-rounded userimg pull-left"
                                             ng-style="{'border-color': getUser(userId).color}">
                                    </td>
                                    <td>
                                        <div class="username">{{getUser(userId).displayName}}</div>

                                        <div class="consume"><small>consumes <span class="badge">{{item.distribution.get(userId).consumeCount.text}}</span></small></div>
                                        <div class="provides"><small>provides <span class="badge">{{item.distribution.get(userId).provideCount.text}}</span></small></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </li>
                </ul>
            
                <form class="panel-footer" ng-submit="addItem(categoryIndex)">
                    <input class="form-control" placeholder="What do we need?" ng-model="newItemTitle">
                </form>
            </div>
        </div>
    </section>
</section>