<section id="collaborators">
    <img ng-repeat="collaborator in collaborators | limitTo: 5"
         ng-src="{{collaborator.photoUrl}}"
         alt="{{collaborator.displayName}}"
         title="{{collaborator.displayName}}"
         ng-style="{'background-color': collaborator.color}">
    <button ng-click="share()" id="share">share</button>
</section>

<section id="planningapp">
    <header id="header">
        <h1>the planning app</h1>
        <form id="category-form" ng-submit="addCategory()">
            <input id="new-category-item" placeholder="Add another category" ng-model="newCategoryTitle" autofocus>
        </form>
    </header>
    <section id="main" ng-show="planCategories.length" ng-cloak>
        <ul id="category-list">
            <li ng-repeat="(categoryIndex, category) in planCategories.asArray()" ng-class="{editing: category == editedItem}">
                <div class="title">
                    <div class="view">
                        <label ng-dblclick="startEditing(category)">{{category.title.text}}</label>
                        <button class="destroy" ng-click="removeCategory(category)"></button>
                    </div>
                    <form ng-submit="doneEditing(category)">
                        <input class="edit" ng-model="category.title.text" collaborative on-blur="doneEditing()" focus="category == editedItem">
                    </form>
                </div>
                <ul class="plan-item-list" ng-show="planCategories.length">
                    <li ng-repeat="item in category.items.asArray()" ng-class="{editing: item == editedItem}">
                        <div class="title">
                            <div class="view">
                                <label ng-dblclick="startEditing(item)">{{item.title.text}}</label>
                                <button class="destroy" ng-click="removeItem(categoryIndex, item)"></button>
                            </div>
                            <form ng-submit="doneEditing(item)">
                                <input class="edit" ng-model="item.title.text" collaborative on-blur="doneEditing()" focus="item == editedItem">
                            </form>
                        </div>
                        <div class="distribution-input">
                            <div class="consume">
                                I consume:
                                <form ng-submit="doneEditing(item)">
                                    <input class="input" ng-model="item.distribution.get(currentUser.userId).consumeCount.text" collaborative on-blur="doneEditing()" only-digits>
                                </form>
                            </div>
                            <div class="provide">
                                I provide:
                                <form ng-submit="doneEditing(item)">
                                    <input class="input" ng-model="item.distribution.get(currentUser.userId).provideCount.text" collaborative on-blur="doneEditing()" only-digits>
                                </form>
                            </div>
                        </div>
                        <div class="distribution-list">
                            <ul>
                                <li ng-repeat="userId in item.distribution.keys()">
                                    <div class="thumb">
                                        <img ng-src="{{getUser(userId).photoUrl}}"
                                             alt="{{getUser(userId).displayName}}"
                                             title="{{getUser(userId).displayName}}"
                                             ng-style="{'background-color': getUser(userId).color}">
                                    </div>
                                    <div class="username">{{getUser(userId).displayName}}</div>

                                    <div class="consume">consumes: {{item.distribution.get(userId).consumeCount.text}}</div>
                                    <div class="provides">provides: {{item.distribution.get(userId).provideCount.text}}</div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>

                <form class="add-item-form" ng-submit="addItem(categoryIndex)">
                    <input class="new-category-item" placeholder="What else do we need?" ng-model="newItemTitle">
                </form>
            </li>
        </ul>
    </section>
</section>